@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Matter";
  src: url("/Matter-Regular.otf");
}

@font-face {
  font-family: "Matter";
  src: url("/Matter-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Matter";
  src: url("/Matter-SemiBold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Matter";
  src: url("/Matter-Medium.otf");
  font-weight: 500;
}

.dynamic-shadow-dom {
  --dynamic-font-family-primary: "Matter", "Poppins", system-ui;
  --dynamic-font-family-numbers: "Matter", "Poppins", system-ui;
}
