@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0d0d0d;
    --foreground: #ffffff;

    --card: var(--background);
    --card-foreground: var(--foreground);

    --popover: var(--background);
    --popover-foreground: var(--foreground);

    --badge-destructive: #f8c9d2;
    --badge-destructive-foreground: #710e21;

    --primary: #375DFB;
    --primary-foreground: var(--foreground);

    --secondary: #333333;
    --secondary-foreground: #afafaf;

    --muted: #333333;
    --muted-foreground: #777777;

    --accent: #375DFB;
    --accent-foreground: var(--foreground);

    --destructive: #df1c41;
    --destructive-foreground: var(--foreground);

    --success: #cbf5e5;
    --success-foreground: #176448;

    --border: #1E1E1E;
    --input: #333333;
    --ring: #333333;

    --radius: 8px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
