@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #020817;
    --foreground: #f8fafc;

    --card: #020817;
    --card-foreground: #f8fafc;

    --popover: #020817;
    --popover-foreground: #f8fafc;

    --primary: #f8fafc;
    --primary-foreground: #0f1729;

    --secondary: #1d2839;
    --secondary-foreground: #f8fafc;

    --muted: #1d2839;
    --muted-foreground: #94a3b8;

    --accent: #1d2839;
    --accent-foreground: #f8fafc;

    --destructive: #811d1d;
    --destructive-foreground: #f8fafc;

    --border: #1d2839;
    --input: #1d2839;
    --ring: #cbd5e1;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
